<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--注册bean-->
    <bean id="userService" class="com.tao.service.UserServiceImpl"></bean>
    <bean id="beforLog" class="com.tao.log.BeforeLog"></bean>
    <bean id="afterLog" class="com.tao.log.AfterLog"></bean>

    <!--方式一、使用原生的spring API接口-->
    <!--配置aop需要导入aop约束-->
    <!--<aop:config>-->
    <!--    &lt;!&ndash;切入点：expression:表达式，execution(要执行的位置* * * * * )修饰词，返回值，权限类名，方法名，参数&ndash;&gt;-->
    <!--    <aop:pointcut id="pointcut" expression="execution(* com.tao.service.UserServiceImpl.*(..))"></aop:pointcut>-->
    <!--    &lt;!&ndash;执行环绕增加&ndash;&gt;-->
    <!--    <aop:advisor advice-ref="beforLog" pointcut-ref="pointcut"></aop:advisor>-->
    <!--    <aop:advisor advice-ref="afterLog" pointcut-ref="pointcut"></aop:advisor>-->

    <!--</aop:config>-->


    <!--方式二、自定义类-->
    <!--<bean id="diy" class="com.tao.diy.DiyToAspect"></bean>-->
    <!--<aop:config>-->
    <!--    &lt;!&ndash;自定义切面，ref要引用的类,配置说明这个类是一个切面&ndash;&gt;-->
    <!--    <aop:aspect ref="diy">-->
    <!--        &lt;!&ndash;切入点，切面放在哪&ndash;&gt;-->
    <!--        <aop:pointcut id="point" expression="execution(* com.tao.service.UserServiceImpl.*(..))"/>-->
    <!--        &lt;!&ndash;通知&ndash;&gt;-->
    <!--        <aop:before method="before" pointcut-ref="point"></aop:before>-->
    <!--        <aop:after method="after" pointcut-ref="point"></aop:after>-->
    <!--    </aop:aspect>-->
    <!--</aop:config>-->

    <!--方式三、使用注解-->
    <bean id="annotationPointCut" class="com.tao.diy.AnnotationPointCut"></bean>
    <!--开启注解支持   这里有个参数：proxy-target-class="false"是否选择cglib实现aop,默认为false使用jdk实现-->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>


</beans>